<div class="container mt-2 mb-6">
    <div class="jumbotron">
        <h2 class="text-capitalize fs-3"> hasta luego <strong> {{this.user}} </strong></h2>
    </div>
</div>
{{! desactualizado desafio 12 }}