<script src="../../public/js/index.js" async></script>


<div class="container mt-5">
    <div class="jumbotron">
        <div>
            <h2>CHAT</h2>
            <section class="mb-3">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                    <input class="form-control" id="inputEmail" type="email" placeholder="Email: " required>
                </div>
                <div>
                    <input class="form-control" id="inputMessage" type="text" placeholder="Mensaje: " required>
                </div>
            </section>
            <button id="btnSend" class="btn btn-success" type="submit">enviar</button>

            <div id="mensajesChat"> </div>
        </div>

    </div>
</div>