<div class="container mt-2 mb-8">
   <div class="jumbotron">
      <section>
         <div id="login_greeting">
            <h2>Login de usuario</h2>
            <form action="/registro" method="POST">
               <input id="input_reg_name" class="form-control" type="text" name="name"
                  placeholder="Ingrese su nombre de usuario:" required>
               <button type="submit" id="btn_register" class="btn btn-success mt-2">Registrarse</button>
            </form>
         </div>
      </section>
   </div>
</div>

<script src="js/login.js"></script>