<div>
    <h2>CHAT</h2>
    <section>
        <div>
            <input id="inputEmail" type="email" placeholder="Email: " required>
        </div>
        <div>
            <input id="inputMessage" type="text" placeholder="Mensaje: " required>
        </div>
    </section>
    <button id="btnSend" type="submit">enviar</button>

    <div id="mensajesChat"> </div>
</div>

<script src="js/index.js"></script>